/* Добавить в существующие стили */

.node-level-0 { background-color: #e3f2fd; }
.node-level-1 { background-color: #e8f5e8; }
.node-level-2 { background-color: #fff3cd; }
.node-level-3 { background-color: #f8d7da; }
.node-level-4 { background-color: #e2e3e5; }
.node-level-5 { background-color: #d1ecf1; }

.indent-0 { padding-left: 0px; }
.indent-1 { padding-left: 20px; }
.indent-2 { padding-left: 40px; }
.indent-3 { padding-left: 60px; }
.indent-4 { padding-left: 80px; }
.indent-5 { padding-left: 100px; }
.indent-6 { padding-left: 120px; }

.path-display {
    font-size: 0.8em;
    color: #6c757d;
    margin-left: 10px;
}